* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.containers {
  width: 1200px;
  margin: 0 auto;
}

.container1 {
  position: relative;
  display: flex;
  height: 110px;
  align-items: center;
  padding-top: 20px;
}

.work-times {
  display: flex;
}

.left-wrapper {
  position: absolute;
  left: 0;
}
.left-wrapper div {
  gap: 5px;
}
.left-wrapper i {
  color: #004583;
}
.left-wrapper p {
  width: 186px;
}
.left-wrapper .our-salone {
  display: flex;
  align-items: center;
  margin-top: 9px;
}
.left-wrapper .our-salone a {
  color: #004583;
  line-height: 127.47%;
}

.site-logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.right-wrapper {
  position: absolute;
  right: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.right-wrapper .sale-phone {
  display: flex;
  gap: 10px;
  align-items: start;
}
.right-wrapper .sale-phone .numbers {
  font-size: 14px;
}
.right-wrapper .sale-phone .numbers span {
  display: block;
}
.right-wrapper .c-red {
  color: #BB2822;
}

.container2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container2 ul {
  list-style-type: none;
  display: flex;
  gap: 63px;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
}
.container2 ul a {
  color: #000;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  gap: 15px;
}
.container2 ul a:hover {
  opacity: 0.8;
  color: rgb(69, 78, 116);
}

#current {
  color: #bb2822;
}

nav {
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
  padding: 11px 0;
  margin-top: 17px;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
}
.search input {
  background: none;
  width: 330px;
  height: 35px;
  border: 1px solid #004583;
  border-radius: 47px;
  font-size: 16px;
  color: #004583 !important;
  padding-left: 20px;
  box-sizing: border-box;
  padding-right: 30px;
}
.search input:focus {
  font-size: 16px;
  color: #004583 !important;
}
.search input:placeholder-shown {
  font-size: 16px;
  color: #004583 !important;
}
.search i {
  position: absolute;
  right: 12px;
}

aside {
  width: 268px;
  border: 1px solid #EFEFEF;
  box-shadow: 0px 10px 52px -8px rgba(0, 0, 0, 0.17);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.accordion-body {
  background: #F8F8F8;
  margin-bottom: 0;
}
.accordion-body li {
  color: #004583;
}
.accordion-body li a {
  color: #004583;
}

.download {
  width: 268px;
  height: 51px;
  background: #004583;
  border-radius: 2px;
  border: none;
  color: #fff;
  transition: all 0.4s ease-in-out;
}
.download:hover {
  color: #004683;
  background: #fff;
}

.percent {
  position: relative;
  margin-top: 34px;
}
.percent h1 {
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  width: 239px;
  height: 130px;
  left: 18px;
  top: 0px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.percent h1 span {
  font-size: 80px;
}
.percent button {
  position: absolute;
  width: 194px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 2px;
  border: none;
  bottom: 18px;
  left: 36px;
  color: #004583;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}
.percent button:hover {
  background: #004583;
  color: #FFFFFF;
}

.container3 {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.article-wrapper {
  margin-left: 29px;
}

article {
  width: 100%;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-shadow: 0px 10px 52px -8px rgba(0, 0, 0, 0.17);
  border-radius: 8px;
  display: flex;
  padding: 25px 15px;
  gap: 9px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 210px;
  height: 355px;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.product-id {
  position: absolute;
  top: 194px;
  font-size: 16px;
  line-height: 127.47%;
  color: #004583;
}

.product-sizes {
  position: absolute;
  top: 224px;
}

.color {
  position: absolute;
  top: 256px;
}

#price {
  position: absolute;
  top: 318px;
}

.colors-ex {
  display: flex;
  gap: 2px;
  position: absolute;
  top: 285px;
}
.colors-ex span {
  width: 19px;
  height: 19px;
  display: block;
  background: rgb(156, 165, 204);
  border-radius: 50%;
}

.navigate {
  display: flex;
  position: relative;
  padding-left: 50px;
  margin-top: 27px;
}
.navigate .navs {
  cursor: pointer;
}
.navigate .navs a {
  display: block;
  margin: 10px;
}
.navigate .navs img {
  position: absolute;
  z-index: 1;
}
.navigate .nav1 {
  position: relative;
  color: #bebebe;
  font-weight: 300;
}
.navigate .nav1 img {
  position: absolute;
  right: -110px;
  top: -40px;
  z-index: -1;
}
.navigate .nav2 {
  margin-left: 50px;
  position: relative;
  font-weight: 600;
  color: #fff;
}
.navigate .nav2 img {
  position: absolute;
  right: -10px;
  top: -5px;
  z-index: -1;
}

.cart {
  width: 92px;
  height: 87px;
  background: #004583;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 38px #004583;
  position: fixed;
  right: 0;
  border-radius: 50% 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.cart:hover {
  background: rgba(0, 70, 131, 0.5882352941);
}

@media only screen and (max-width: 1225px) {
  .containers {
    width: 95vw;
  }
  .container2 ul {
    gap: 15px;
  }
}
.fa-bars {
  display: none;
}

.fa-xmark {
  display: none !important;
}

.menu-wrapper {
  position: relative;
}

@media only screen and (max-width: 850px) {
  .work-times {
    display: none;
  }
  .right-wrapper {
    display: none;
  }
  .fa-bars {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: #004583;
    font-size: 40px;
    top: 50%;
    transform: translate(0, -50%);
  }
  .menu-wrapper {
    position: fixed;
    width: 70vw;
    background: rgb(255, 255, 255);
    z-index: 3;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    padding-top: 50px;
    transform: translateX(100vw);
    transition: all 0.5s ease-in-out;
  }
  .fa-xmark {
    display: block !important;
    font-size: 45px;
    color: #004583;
    position: absolute;
    right: 20px;
    top: 30px;
  }
  .container3 {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  .container {
    width: 100vw;
  }
  .container2 .nn {
    display: none;
  }
  article {
    width: 100vw;
    margin: 0;
  }
  .article-wrapper {
    margin: 0;
  }
}
body {
  overflow-x: hidden;
}/*# sourceMappingURL=index.css.map */